img {
    width: 20%;
}

body {
    text-align: center;
   
}

img {
    border-radius: 100px;
}

.line {
    height: 6px;
    background: black;
    width: 70px;
    margin: 8px auto;
}


.menu{
    font-family:fantasy;
    position: absolute;
    top:10px;
    right:30px;
    list-style:disc;
    z-index: 10;
    font-size:50%;
}

.link{
    color:red;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    font-size:20px;
    font-family: sans-serif;
    float: right;
    font-weight:bold;
}

#welcome{
    background-color:aqua;
    height: 500px;
}

h1{
    font-size:40px;
    color:red;
    font-family: 'Fraunces', serif;
    
}

#info{
    background-color:fuchsia;
    height:250px;
}

#video{
    background-color: peachpuff;
    height: 800px;
}

#picture{
    background-color:yellow;
    height: 800px;
}


.cycling{
    width:340px;
}



#inspiration{
    background-color:cornflowerblue;
    height: 800px;
}

#in{
    width:1000px;
}

#contact{
  background-color:green;
    height: 800px;
}
#con{
    width:100px;
    
}
.fa fa-envelope{
    font-size:500%;
    width:500px;
}